body{
  padding: 0;
  margin: 0;
}


.container{
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 704px;
 }

 .nav-bar{
  height: 48px;
  background-color: #F55A5A;
  display: flex;
  
 }
 .nav-bar-title{
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  padding-left: 9px;
 }
 .nav-bar-earthlogo{
  display: flex;
  width: 35px;
  height: 35px;
  padding-left:175px;
  padding-top: 5px;
 }
.card{
  position: relative;
  display: flex;
  max-width: 470px;
  max-height: 168;
  padding-top: 40px;
  padding-left: 26px;
}
.card-firstimage{
  width:130px;
  height: 178px;
 }
 .card-countryName{
  font-family: 'Inter', sans-serif;
  padding-left: 20px;
  font-weight: 1px;
 }
 .gray{
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  padding-left: 10px;
  padding-top: 23px;
  color: #918E9B;
  float: right;
  text-decoration-line: underline;
 }
 .card-title {
  font-family:'Inter', sans-serif ;
  font-size: 30px;
  position: absolute;
  margin-top: 45px;
  margin-left: 150px;
  text-shadow: 1px 1px 1px black;
  
 }
 .card-date{
  font-family:'Inter', sans-serif ;
  font-size: 10px;
  position: absolute;
  margin-top: 85px;
  margin-left: 152px;
 }
 .card-para{
  font-family:'Inter', sans-serif ;
  font-size: 12px;
  position: absolute;
  margin-top: 105px;
  margin-left: 152px;
 }
 .line{
margin-top: 150px;
margin-left: 0px;
width: 490px;
height: 47px;
border-bottom: 1px solid black;
position: absolute;
 }
 
 

